body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #4CAF50;
    margin-bottom: 10px; /* Reduce vertical space */
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select, input, button {
    margin: 0 5px 0 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#currentKey {
    margin-top: 10px; /* Reduce vertical space */
    font-size: 18px;
    font-weight: bold;
}

#output {
    visibility: visible; /* Ensure the container is always visible */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0 auto; /* Reduce vertical space */
    font-size: 24px; /* Make the text larger */
    padding: 20px; /* Add padding for a bigger appearance */
    width: 250px; /* Increase the width */
    text-align: center; /* Ensure text is centered within the container */
}

#controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    margin-top: 5px 0 50px 0; /* Reduce vertical space */
}

#controls label {
    display: flex;
    align-items: center;
    padding: 0;
}

#controls select, #controls input {
    margin: 0;
}

#buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px; /* Reduce vertical space */
}

#buttons button {
    margin-bottom: 5px; /* Reduce vertical space between buttons */
}

#progress {
    font-size: 14px; /* Make the font smaller */
    margin-top: 5px; /* Reduce vertical space */
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    #controls {
        flex-direction: column;
        align-items: stretch;
    }

    #controls label, #controls input {
        width: 100%;
        margin-bottom: 5px;
    }

    #buttons {
        flex-direction: column;
        align-items: stretch;
    }

    #buttons button {
        width: 100%;
        margin-bottom: 10px;
    }

    #output {
        width: 250px;
        font-size: 20px;
        padding: 15px;
    }

    #progress {
        font-size: 12px;
        text-align: center;
    }
}